<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Rechner Bitcoin to Euro</mat-card-title>
    <mat-card-subtitle>calculate</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    Aktueller Kurs: <br>
    1 BTC = {{factor}} EUR <br>
    1 EUR = {{1/factor}} BTC<br>

    <mat-form-field>
      <input matInput placeholder="BTC" [(ngModel)]="bitcoin">
    </mat-form-field>

    Euro: {{euro}}

    <br>

    <button mat-raised-button color="primary" (click)="calculate()">Rechnen</button>

  </mat-card-content>
</mat-card>
