<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <ul>
          <li><a routerLink="/calculator">Währungsrechner</a></li>
          <li><a routerLink="/quoteGenerator">Zitatgenerator</a></li>
          <li><a routerLink="/">Pro-Contra-Liste</a></li>
          <li><a routerLink="/">Einkaufsliste</a></li>
      </ul>

  </mat-sidenav>
  <mat-sidenav-content>

      <app-header></app-header>
      <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>